# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Python
__pycache__/

teacher/*


# løsninger på øvelser
materialer/introduktion/solutions


